.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
}

.profile__edit-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  border: none;
  background-color: #fcf5e5;
  color: rgb(33, 33, 33);
  opacity: 80%;
  gap: 8px;
}

.profile__edit-image {
  color: rgb(33, 33, 33);
  opacity: 80%;
}

.profile__add-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: auto;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  color: #fcf5e5;
  padding: 18px 32px;
  max-width: 149px;
  max-height: 52px;
  gap: 8px;
}

.profile__add-image {
  width: 12px;
  height: 12px;
}
